
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}
<!-- PAGE WRAP -->
<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <!-- END / PRELOADER -->

    <section class="awe-parallax register-page-demo">
        <div class="awe-overlay"></div>
        <div class="container">
            @using (Html.BeginForm("Index", "Register"))
            {
                <div class="login-register-page__content">
                    <div class="content-title">
                        <span>Evde bekleme</span>
                        <h2>BİZE KATIL !</h2>
                    </div>
                    <form>
                        <div class="form-item">
                            <label>Eposta</label>
                            <input name="email" type="email">
                        </div>
                        <div class="form-item">
                            <label>Parola</label>
                            <input name="password" type="password">
                        </div>
                        <div class="form-item">
                            <label>Parola Onayla</label>
                            <input name="repassword" type="password">
                        </div>
                        <a href="#" class="terms-conditions">By registering, you accept terms &amp; conditions</a>
                        <div class="form-actions">
                            <input type="submit" value="Kayıt Ol">
                        </div>
                    </form>
                    <div class="login-register-link">
                        Zaten üyemisin? <a href="@Url.Action("Index", "Login")">Giriş Yap</a>
                    </div>
                </div>
        }
        </div>
    </section>
</div>
<!-- END / PAGE WRAP -->
<!-- LOAD JQUERY -->
<script type="text/javascript" src="js/lib/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/lib/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/lib/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="js/lib/theia-sticky-sidebar.js"></script>
<script type='text/javascript' src="js/lib/jquery-ui.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>