
@{
    ViewBag.Title = "GridIndex";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<!-- PAGE WRAP -->
<div id="page-wrap">
    <!-- PRELOADER -->
    <div class="preloader"></div>
    <!-- END / PRELOADER -->

    <section class="travelling-block-section-demo awe-parallax">
        <div class="container">
            <div class="travelling-block text-center">
                <div class="title">
                    <h2>I am travelling for</h2>
                </div>
                <div class="travelling-tabs tabs">
                    <ul>
                        <li><a href="#tabs-1">Purpose</a></li>
                        <li><a href="#tabs-2">Region</a></li>
                        <li><a href="#tabs-3">Price</a></li>
                        <li><a href="#tabs-4">Time</a></li>
                        <li><a href="#tabs-5">Advance Filter</a></li>
                    </ul>
                    <div class="travelling-tabs__content">
                        <div id="tabs-1">
                            <div class="purpose-slider">
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-food"></i>
                                        <span>Foodie &amp; Culinary</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-bag"></i>
                                        <span>Fashion &amp; Shopping</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-music"></i>
                                        <span>Music &amp; Festival</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-culture"></i>
                                        <span>History &amp; Culture</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-nature"></i>
                                        <span>Sports &amp; Nature</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-entertain"></i>
                                        <span>Entertain &amp; Gamble</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-briefcase-plus"></i>
                                        <span>Health &amp; Beauty</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-food"></i>
                                        <span>Foodie &amp; Culinary</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-bag"></i>
                                        <span>Fashion &amp; Shopping</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="tabs-2">
                            <div class="travelling-tabs__region">
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-north-america"></i>
                                        <span>North America</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-south-america"></i>
                                        <span>South America</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-europe"></i>
                                        <span>Europe</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-australia"></i>
                                        <span>Australia</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-asia"></i>
                                        <span>Asia</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-antarctica"></i>
                                        <span>Antarctica</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <i class="awe-icon awe-icon-africa"></i>
                                        <span>Africa</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div id="tabs-3">
                            <div class="travelling-tabs__price">
                                <div class="budget-level">
                                    <label>Budget level</label>
                                    <div class="price-slider-wrapper">
                                        <div class="price-slider"></div>
                                        <div class="price_slider_amount">
                                            <div class="price_label">
                                                <span class="from"></span> - <span class="to"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="currency">
                                    <label>Currency</label>
                                    <div class="select-item">
                                        <select class="awe-select">
                                            <option>$ - US Dollar </option>
                                            <option>$ - US Dollar </option>
                                        </select>
                                    </div>
                                    <span>Currency you want to use</span>
                                </div>
                            </div>
                        </div>

                        <div id="tabs-4">
                            <div class="travelling-tabs__time">
                                <div class="season">
                                    <div class="item spring">
                                        <a href="#">
                                            <i class="awe-icon awe-icon-spring"></i>
                                            <span>Spring</span>
                                        </a>
                                    </div>
                                    <div class="item summer">
                                        <a href="#">
                                            <i class="awe-icon awe-icon-summer"></i>
                                            <span>Summer</span>
                                        </a>
                                    </div>
                                    <div class="item autumn">
                                        <a href="#">
                                            <i class="awe-icon awe-icon-autumn"></i>
                                            <span>Autumn</span>
                                        </a>
                                    </div>
                                    <div class="item winter">
                                        <a href="#">
                                            <i class="awe-icon awe-icon-winter"></i>
                                            <span>Winter</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="month">
                                    <div class="item jan" data-season="spring">
                                        <a href="#">Jan</a>
                                    </div>
                                    <div class="item feb" data-season="spring">
                                        <a href="#">Feb</a>
                                    </div>
                                    <div class="item mar" data-season="spring">
                                        <a href="#">Mar</a>
                                    </div>
                                    <div class="item apr" data-season="summer">
                                        <a href="#">Apr</a>
                                    </div>
                                    <div class="item may" data-season="summer">
                                        <a href="#">May</a>
                                    </div>
                                    <div class="item jun" data-season="summer">
                                        <a href="#">Jun</a>
                                    </div>
                                    <div class="item jul" data-season="autumn">
                                        <a href="#">Jul</a>
                                    </div>
                                    <div class="item aug" data-season="autumn">
                                        <a href="#">Aug</a>
                                    </div>
                                    <div class="item sep" data-season="autumn">
                                        <a href="#">Sep</a>
                                    </div>
                                    <div class="item oct" data-season="winter">
                                        <a href="#">Oct</a>
                                    </div>
                                    <div class="item nov" data-season="winter">
                                        <a href="#">Nov</a>
                                    </div>
                                    <div class="item dec" data-season="winter">
                                        <a href="#">Dec</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tabs-5">
                            <div class="travelling-tabs__advance-filter">
                                <div class="form-group">
                                    <div class="form-elements from">
                                        <label>From</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" value="Ho Chi Minh, Hanoi, Vietnam">
                                        </div>
                                    </div>
                                    <div class="form-elements to">
                                        <label>To</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-marker-1"></i>
                                            <input type="text" value="Ankara, Turkey">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-elements form-checkin">
                                        <label>Depart on</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-calendar"></i>
                                            <input type="text" class="awe-calendar" value="Check in">
                                        </div>
                                    </div>
                                    <div class="form-elements form-checkout">
                                        <label>Return on</label>
                                        <div class="form-item">
                                            <i class="awe-icon awe-icon-calendar"></i>
                                            <input type="text" class="awe-calendar" value="Check out">
                                        </div>
                                    </div>
                                    <div class="form-elements form-references">
                                        <label>References</label>
                                        <div class="select-item">
                                            <select class="awe-select">
                                                <option>For business</option>
                                                <option>For business</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-elements budget-level">
                                        <label>Budget level</label>
                                        <div class="price-slider-wrapper">
                                            <div class="price-slider"></div>
                                            <div class="price_slider_amount">
                                                <div class="price_label">
                                                    <span class="from"></span> - <span class="to"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-elements currency">
                                        <label>Currency</label>
                                        <div class="select-item">
                                            <select class="awe-select">
                                                <option>All types</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="your-destinations-section-demo">
        <div class="container">
            <div class="your-destinations">
                <div class="your-destionations__top">
                    <div class="title">
                        <h2>Your Destinations</h2>
                    </div>
                    <div class="your-destinations__bar">
                        <div class="view-switcher">
                            <div class="view-item">
                                <a href="@Url.Action("Index", "Destination")">
                                    <i class="awe-icon awe-icon-list"></i>
                                </a>
                            </div>
                            <div class="view-item view-active">
                                <a href="@Url.Action("GridIndex", "Destination")">
                                    <i class="awe-icon awe-icon-grid"></i>
                                </a>
                            </div>
                        </div>
                        <div class="order">
                            <select class="orderby awe-select">
                                <option>Best Match</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="destination-grid-content">
                    <div class="row">
                        <div class="awe-masonry">
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/1.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Florenze</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Italy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">845</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/2.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Toluca</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">USA</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">132</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/3.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Venice</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Italy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2341</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/4.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Ohio</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">USA</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2531</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/5.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Venice</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Italy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2531</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/6.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Mandives</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Mandives</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2531</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/7.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Istanbul</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Turkey</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2531</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/8.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Bali</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Thailand</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2531</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/9.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Phu Quoc</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Vietnam</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2531</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/1.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Florenze</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Italy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">845</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/2.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Toluca</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">USA</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">132</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/3.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Venice</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">Italy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2341</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                            <!-- GALLERY ITEM -->
                            <div class="awe-masonry__item">
                                <a href="#">
                                    <div class="image-wrap image-cover">
                                        <img src="images/img/4.jpg" alt="">
                                    </div>
                                </a>
                                <div class="item-title">
                                    <h2><a href="#">Ohio</a></h2>
                                    <div class="item-cat">
                                        <ul>
                                            <li><a href="#">USA</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item-available">
                                    <span class="count">2531</span>
                                    available hotel
                                </div>
                            </div>
                            <!-- END / GALLERY ITEM -->
                        </div>
                    </div>
                    <div class="more-destination">
                        <a href="#">More Destinations</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>
<!-- END / PAGE WRAP -->
<!-- LOAD JQUERY -->
<script type="text/javascript" src="js/lib/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/lib/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/lib/jquery.owl.carousel.js"></script>
<script type='text/javascript' src="js/lib/jquery-ui.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>